<%- include("../partials/headUpper.ejs",{title:'Alibazon - Signup'}) %>

<link rel="stylesheet" href="/stylesheets/auth.css" />
<%- include("../partials/headBottom.ejs") %>




<div class="container">
    <%- include("../partials/nav.ejs") %> 
    
        <div class="col-6 mx-auto">
            <div class="mt-5 mb-5">
                <form action="/auth/signup">
                    <h2>Sign up</h2>
                    <label for="name">Name</label>
                    <input type="text" name="name" required/>
                    <label for="email">Email</label>
                    <input type="text" name="email" required/>
                    <label for="password">Password</label>
                    <input type="password" name="password"  required/>
                    <button>sign up</button>
                    <div class="text-center"><div class="signup error"></div></div>
                  </form>
            </div>
        </div>
    
    <%- include('../partials/footer.ejs') %>
</div>


<%- include('../partials/bottom.ejs') %>


<script src="/javascripts/signupScript.js"></script>

