<%- include("../partials/headUpper.ejs",{title:'Alibazon - Wishlist'}) %>

<%- include("../partials/headBottom.ejs") %>
<%- include("../partials/nav.ejs") %>
<div class="container">
   
  <%- include("./upperBanner.ejs") %>

  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <%- include("./wishCard.ejs") %>
    </div>
  </div>

  
</div>
<%-include("../partials/footer.ejs") %>
<%- include('../partials/bottom.ejs') %>

<script src="/javascripts/wishScript.js"></script>
