<%- include("../partials/headUpper.ejs",{title:'Alibazon - Wishlist'}) %>

<link rel="stylesheet" href="/stylesheets/wishlist.css" />

<%- include("../partials/headBottom.ejs") %>

<div class="container">
  <%- include("../partials/nav.ejs") %> <%- include("./upperBanner.ejs") %>

  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <%- include("./wishCard.ejs") %>
    </div>
  </div>

  <%-include("../partials/footer.ejs") %>
</div>

<%- include('../partials/bottom.ejs') %>

<script src="/javascripts/wishScript.js"></script>
