<%- include("./partials/headUpper.ejs",{title:'Alibazon - Error'}) %>

<%- include("./partials/headBottom.ejs") %>

<div class="container">
  <%- include("./partials/nav.ejs") %>

  <div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
      <!-- error image -->
      <div class="text-center mb-5">
        <img src="/images/error.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <!-- error message -->
      <p class="text-center font-weight-bold text-danger">
        <%= message %>
      </p>
      <!-- go home button -->
      <div class="text-center mt-5">
        <a href="/" class="btn btn-primary"> GO BACK HOME </a>
      </div>
     
    </div>
  </div>

  <%-include("./partials/footer.ejs") %>
</div>

<%- include('./partials/bottom.ejs') %>
