<%- include("./partials/headUpper.ejs",{title:'Alibazon - Home'}) %>

<link rel="stylesheet" href="/stylesheets/search.css" />

<%- include("./partials/headBottom.ejs") %>

<div class="container">
  <%- include("./partials/nav.ejs") %> <%- include("./partials/breadcrumb.ejs",
  {breadcrumbObjects})%>

  <div class="row mt-5">
    <div class="col-6">
      <a href="category/mens">
        <div class="card bg-dark text-white">
          <img class="card-img" src="images/index/mens.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title">Men</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-6">
      <a href="category/womens">
        <div class="card bg-dark text-white">
          <img
            class="card-img"
            src="images/index/womens.jpg"
            alt="Card image"
          />
          <div class="card-img-overlay">
            <h5 class="card-title">Women</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="container h-100">
      <div class="row h-100 justify-content-center">
        <%-include("./partials/footer.ejs") %>
      </div>
    </div>
    
  </div>

  <%- include('./partials/bottom.ejs') %>
</div>
