<%- include("./partials/headUpper.ejs",{title:'Alibazon - Home'}) %>

<link rel="stylesheet" href="/stylesheets/search.css" />

<%- include("./partials/headBottom.ejs") %>
<%- include("./partials/nav.ejs") %>
<div class="container">
  <%- include("./partials/breadcrumb.ejs", {breadcrumbObjects})%>

  <div class="row mt-5">
    <!-- Men link -->
    <div class="col-6">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <a href="category/mens">
          <div class="card bg-dark text-white">
            <img class="card-img" src="images/index/mens.jpg" alt="Card image" />
            <div class="card-img-overlay">
              <h5 class="card-title">Men</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Women link -->
    <div class="col-6">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <a href="category/womens">
          <div class="card bg-dark text-white">
            <img
              class="card-img"
              src="images/index/womens.jpg"
              alt="Card image"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">Women</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    
  </div>


</div>
<%-include("./partials/footer.ejs") %>
<%- include('./partials/bottom.ejs') %>
