<%- include("./partials/head.ejs") %>

<div class="container">
  <%- include("./partials/nav.ejs") %> 

  <%- include("./partials/breadcrumb.ejs")%> 

  <%- include("./category/category.ejs") %> 
  
  <%-include("./partials/footer.ejs") %>


</div>


<%- include('./partials/bottom.ejs') %>
