<%- include("./partials/head.ejs") %>

<div class="container">
  <%- include("./partials/nav.ejs") %> 
  <%- include("./partials/breadcrumb.ejs")%>

  <img
    src="images/index/landing-image.png"
    class="img-fluid"
    alt="Responsive image"
  />

  <div class="row mt-5">


    <div class="col-6">

      <a href="category/mens/parent-category-selection">
      <div class="card bg-dark text-white">
        <img class="card-img" src="images/index/mens.jpg" alt="Card image" />
        <div class="card-img-overlay">
          <h5 class="card-title">Men</h5>
        </div>
      </div>
    </a>

    </div>

    <div class="col-6">

      <a href="category/womens/parent-category-selection">
        <div class="card bg-dark text-white">
          <img class="card-img" src="images/index/womens.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title">Women</h5>
          </div>
        </div>
      </div>
      </a>
      
  </div>


  <%-include("./partials/footer.ejs") %>
</div>

<%- include('./partials/bottom.ejs') %>
