<%- include("../partials/headUpper.ejs",{title:'Alibazon - Product Categories'}) %>


<%- include("../partials/headBottom.ejs") %>
<%- include("../partials/nav.ejs") %> 
<div class="container">
    
    <%- include("../partials/breadcrumb.ejs", {breadcrumbObjects})%>
    
<% parentCategories.forEach( category => { %>

  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card mb-5">
      <img class="card-img-top" src="../../images/<%= category.image %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= category.page_title %></h5>
        <p class="card-text"><%= category.page_description  %></p>
        <a href="/category/<%= gender %>/<%= category.name %>" class="btn btn-dark">View Subcategories</a>
      </div>
    </div>
  </div>

<% }) %>

</div>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/bottom.ejs') %>