<%- include("../partials/headUpper.ejs",{title:'Alibazon - Subcategories'}) %>


<%- include("../partials/headBottom.ejs") %>
<%- include("../partials/nav.ejs") %>
<div class="container">

    <%- include("../partials/breadcrumb.ejs", {breadcrumbObjects})%>

<% subCategories.forEach( category => { %>
    <h2><%= category.name %></h2>
    <div class="card mb-5">
        <img class="card-img-top" src="../../images/<%= category.image %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= category.page_title %></h5>
          <p class="card-text"><%= category.page_description  %></p>
          <a href="/product/<%= category.id %>?page=1" class="btn btn-dark">View Products</a>
        </div>
      </div>

    <% }) %>

</div>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/bottom.ejs') %>