<%- include("../partials/headUpper.ejs",{title:'Alibazon - Orders'}) %>

<link rel="stylesheet" href="/stylesheets/search.css" />
<%- include("../partials/nav.ejs") %> 
<%- include("../partials/headBottom.ejs") %>

<div class="container">
    
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
              <div class="card" style="border-radius: 10px;">
                <!-- thank you message -->
                <div class="card-header px-4 py-5">
                  <h5 class="text-muted mb-0">Thanks for your Orders...</h5>
                </div>
                <div class="card-body p-4">
                  <div class="d-flex align-items-center mb-4">
                    <p class="lead fw-normal mb-0 text-muted"><b>Order History</b></p>
                  </div>
                  <!-- If there are order cards print them one by one -->
                  <% if ( orderCards.length > 0 ) { %>
                    <% orderCards.forEach( orderCard => { %>
                      <div class="card shadow-0 border mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-3 text-center d-flex  align-items-center">
                              
                              <p class="text-muted"><%= orderCard.id %></p>
                            </div>
                            <div class="col-9">
                              <!-- print order products one by one -->
                              <% orderCard.orderProducts.forEach( orderProduct => { %>
                                <div class="row">
                                  <div class="col-3 text-center">
                                    <img src="/images/<%= orderProduct.imageLink %>" style="width:80px; height:80px;" class="img-fluid" alt="Phone">
                                  </div>
                                  <div class="col-3 text-center d-flex  align-items-center">
                                    <p class="text-muted"><b><%= orderProduct.name %></b></p>
                                  </div>
                                  <div class="col-3 text-center d-flex  align-items-center">
                                    <p class="text-muted"><b>Quantity: <%= orderProduct.quantity %></b></p>
                                  </div>
                                  <div class="col-3 text-center d-flex  align-items-center">
                                    <p class="text-muted"><b>$<%= orderProduct.price %></b></p>
                                  </div>
                                </div>
                                <hr>
                                
                              <% }) %>
                          
                            </div>
                          </div>  
                        </div>
                      </div>
                     
                    <% }) %>

                  <% } else {  %> <!-- Show there is no order message-->
                    <div class="container h-100">
                      <div class="row h-100 justify-content-center">
                        <p>There is no order to see.</p>
                      </div>
                    </div>
                  <% } %>

                  </div>
                </div>
                <div class="card-footer border-0 px-4 py-5 bg-dark" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
</div>

<div class="container h-100">
    <div class="row h-100 justify-content-center">
      <%-include("../partials/footer.ejs") %>
    </div>
</div>

<%- include('../partials/bottom.ejs') %>

