<%- include("../partials/headUpper.ejs",{title:'Alibazon - Search'}) %>
<link rel="stylesheet" href="/stylesheets/search.css" />

<%- include("../partials/headBottom.ejs") %> 
<%- include("../partials/nav.ejs") %>

<div class="container">
    
    <%- include("./searchbar.ejs") %> 
    <%- include('./spinner.ejs') %>

    <!-- Search Results -->
    <div class="row justify-content-center">
        <div id="searchResults"></div>
        <div><p class="text-danger" id="message"></p></div>
    </div>

    <%- include("./moreResultsButton.ejs") %>

</div>

<%-include("../partials/footer.ejs") %> 

<%- include('../partials/bottom.ejs') %>

<script src="/javascripts/searchPageScript.js"></script>

