
<%- include("../partials/headUpper.ejs",{title:'Alibazon - Search'}) %>
<link rel="stylesheet" href="/stylesheets/search.css" />


<%- include("../partials/headBottom.ejs") %>



<div class="container">
    <%- include("../partials/nav.ejs") %> 

    <%- include("./searchbar.ejs") %> 

    <div class="searchResults">

    </div>


    <%-include("../partials/footer.ejs") %>
  </div>

<%- include('../partials/bottom.ejs') %>



<script>
  const form = document.querySelector("form");
  

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // get values
    const productName = form.productname.value
    const searchResultsEl = document.getElementById('searchResults')
    
    try {
      const res = await fetch("/search", {
        method: "POST",
        body: JSON.stringify({ productName }),
        headers: { "Content-Type": "application/json" },
      })
      const foundProducts = await res.json()
      // foundProducts.forEach( product => {
      //   searchResultsEl.innerHTML = 
      // })

    } catch (err) {

      console.log(err)
    }
  });
</script>