<%- include("../partials/headUpper.ejs",{title:'Alibazon - Products'}) %>
<link rel="stylesheet" href="/stylesheets/product-page.style.css" />
<%- include("../partials/headBottom.ejs") %>
<%- include('../partials/nav.ejs') %>
<div class="container">
  
  <%-include('../partials/breadcrumb.ejs')%> 
  <% if(productsOnLeft.length === 0  && productsOnRight.length === 0) { %>
    <!-- Render a error message if not product found -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Sorry</h1>
        <hr />
        <br />
        <p class="lead">No product found on that page.</p>
      </div>
    </div>

    <% } else { %> 
   
    <!-- Print parent category name and description -->
    <div class="p-3">
      <h1><%= mainCategoryData.name %></h1>
      <hr>
      <p><b><%= mainCategoryData.page_description %></b></p>
    </div>
    <br>

     <!-- Print products on the left  -->
    <div class="row">
      <div class="col sm-6">
        <% productsOnLeft.forEach( product => { %> <%-
        include('./productCard.ejs', {product:product}) %> <% }) %>
      </div>
    <!-- Print products on the right  -->
      <div class="col sm-6">
        <% productsOnRight.forEach( product => { %> <%-
        include('./productCard.ejs', {product:product}) %> <% }) %>
      </div>
    </div>
  
  <%- include('../paginator/paginator.ejs') %>

  <% } %> 
  
</div>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/bottom.ejs') %>

