<div class="card mt-5">
  <div class="row">
    <div class="col-md-10 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">3 items</div>
        </div>
      </div>

    <% cartObjects.forEach( cartObj => {   %>
      <div class="row border-top border-bottom">
        
          <div class="col ml-2">
            <div class="text-muted">
              <b><%= cartObj.name %></b>
            </div>
          </div>
          <div class="col">
            <div class="text-muted text-right">
              <b>Price: <%= cartObj.price %>&dollar;</b>
            </div>
          </div>
       
        <div class="row main align-items-center">
          <div class="col-2 text-center">
            <img class="img-fluid" src="/images/<%= cartObj.image.link %>" />
          </div>
          <div class="col-4">
            <div class="row text-muted">
              <%= cartObj.description %>
            </div>
          </div>

          <div class="col-3">
            <div class="def-number-input number-input safari_only">
              <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
              <input class="quantity" min="0" name="quantity" value="1" type="number">
              <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
            </div>
          </div>

          <div class="col-3">
            <% const keys = Object.keys(cartObj.variationValues) %>
            <% keys.forEach( (key, index) => {  %> 
              <div class="text-muted mb-2"><%= key.toUpperCase() %>: <%= cartObj.variationValues[key] %> </div>
              

            <%  }) %>
            <div class="row">
              <div class="col-8">
                <a href="#" type="button" class="btn btn-primary"
                  >More info <i class="fa-solid fa-circle-info"></i
                ></a>
              </div>
              <div class="col-4">
                <a href="#" type="button" class="btn btn-primary"
                  ><i class="fa-solid fa-trash"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
    
        <div class="row">
          <a href=""><i class="fa-solid fa-arrow-left"></i></a>
          <p>Back To Shop</p>
        </div>
     
    </div>
    <div class="col-md-2 summary">
      <div ckass="text-center">
        <h5><b>Summary</b></h5>
        <hr />
      </div>
      <div class="text-center">
        <p>Your cart total:</p>
        <p>&euro; 137.00</p>

        <button class="btn btn-primary">Buy Now!</button>
      </div>
    </div>
  </div>
</div>
