<%- include("../partials/headUpper.ejs",{title:'Alibazon - Cart'}) %>

<link rel="stylesheet" href="/stylesheets/cart.css" />

<%- include("../partials/headBottom.ejs") %>
<%- include("../partials/nav.ejs") %>
<div class="container">
    
    <%- include("./cartCard.ejs") %>

    <div class="mt-5">
      <div class="row justify-content-center"> 
        <b><h5 id="error-message" class="text-danger"></h5></b>
      </div>
    </div>

</div>
<%-include("../partials/footer.ejs") %>
<%- include('../partials/bottom.ejs') %>

<script>
    let cartObjects = <%- JSON.stringify(cartObjects) %>
</script>

<script src="/javascripts/cartPageScript.js"></script>

<script src="/javascripts/paymentScript.js"></script>
