<%- include("../partials/headUpper.ejs",{title:'Alibazon - Cart'}) %>

<link rel="stylesheet" href="/stylesheets/cart.css" />


<%- include("../partials/headBottom.ejs") %>

<div class="container">
  <%- include("../partials/nav.ejs") %> 
  <%- include("./cartCard.ejs") %>
  <%-include("../partials/footer.ejs") %>
</div>

<%- include('../partials/bottom.ejs') %>

<script>
  async function decreaseQuantity  (elementRef) {
    const quantityEl = elementRef.parentNode.querySelector(".quantity");
    let quantityValue = parseInt(quantityEl.getAttribute("value"));
    const parentClassEl = quantityEl.closest('.cart-card')
    const productId = parentClassEl.getAttribute('product-id')
    const variantId = parentClassEl.getAttribute('variant-id')

    if (quantityValue > 0) {
      quantityValue -= 1;
      quantityEl.setAttribute("value", quantityValue);
      console.log(quantityEl.getAttribute("value"))

      try {
        const res = await fetch("/cart/change-quantity", {
          method: "POST",
          body: JSON.stringify({ quantityValue, productId, variantId }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data)
        if (data.error) {
          
        }
      } catch (err) {
        // fetch api never throws an error
      }
    }
  }

  async function increaseQuantity(elementRef) {
    const quantityEl = elementRef.parentNode.querySelector(".quantity");
    let quantityValue = parseInt(quantityEl.getAttribute("value"));
    const parentClassEl = quantityEl.closest('.cart-card')
    const productId = parentClassEl.getAttribute('product-id')
    const variantId = parentClassEl.getAttribute('variant-id')

    quantityValue += 1;
    quantityEl.setAttribute("value", quantityValue);

    try {
        const res = await fetch("/cart/change-quantity", {
          method: "POST",
          body: JSON.stringify({ quantityValue, productId, variantId }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data)
        if (data.error) {
          
        }
      } catch (err) {
        // fetch api never throws an error
      }

  }

  async function deleteItem(elementRef) {
    
    const parentClassEl = elementRef.closest('.cart-card')
    const productId = parentClassEl.getAttribute('product-id')
    const messageEl = document.getElementById('info-message')
    const variantId = parentClassEl.getAttribute('variant-id')

    messageEl.textContent = ''
    
    try {
        const res = await fetch("/cart/remove-item", {
          method: "DELETE",
          body: JSON.stringify({ productId, variantId }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data)
        if (data) {
          if(data.error){
              messageEl.textContent = data.error
          }
        }

        parentClassEl.remove();
      } catch (err) {
        // fetch api never throws an error
      }
    
  }
</script>
