<%- include("../partials/headUpper.ejs",{title:'Alibazon - Search'}) %>

<link rel="stylesheet" href="/stylesheets/cart.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.0/css/all.css" crossorigin="anonymous">

<%- include("../partials/headBottom.ejs") %>



<div class="container">
    <%- include("../partials/nav.ejs") %>


    <%- include("./cartCard.ejs") %>


    <%-include("../partials/footer.ejs") %>
</div>





<%- include('../partials/bottom.ejs') %>