<div class="main-card bg-light mt-3 p-3">
    <div class="row">
        <div class="col-10">
            <!-- Cart Header-->
            <div class="row">
                <div class="col p-4">
                    <div class="text-muted">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                </div>
                <div class="col align-self-center text-right text-muted">
                    <div id="numb-of-items">
                        <p><%= cartObjects.length %> items</p>
                    </div>
                </div>
            </div>

            <hr />

            <p id="info-message"></p>
            <!-- If there is no cart object then print a message -->
            <% if(cartObjects.length === 0 ) { %>
            <div class="row">
                <div class="col-6">
                    <p class="text-muted">There is no item in the cart.</p>
                </div>
            </div>

            <% } else { %>

            <!-- If there are cart objects then display that cart objects-->
            <% cartObjects.forEach( cartObj => { %>
            <div
                product-id="<%= cartObj.productId %>"
                variant-id="<%= cartObj.variantId %>"
                class="cart-card"
            >
                <div class="row">
                    <!-- Card Image-->
                    <div class="col-2 text-center">
                        <div class="text-muted">
                            <b><%= cartObj.name %></b>
                        </div>
                        <img
                            class="img-fluid"
                            src="/images/<%= cartObj.image.link %>"
                        />
                    </div>
                    <!-- Card Description -->
                    <div class="col-4 align-self-center">
                        <div class="text-muted"><%= cartObj.description %></div>
                    </div>
                    <!-- Card Buttons -->
                    <div class="col-3 align-self-center">
                        <div class="def-number-input number-input safari_only">
                            <button
                                id="decrease-btn"
                                onclick="decreaseQuantity(this)"
                                class="minus"
                            ></button>
                            <input
                                id="quantity-input"
                                class="quantity"
                                min="1"
                                name="quantity"
                                value="<%= cartObj.quantity %>"
                                type="number"
                            />
                            <button
                                id="increase-btn"
                                onclick="increaseQuantity(this)"
                                class="plus"
                            ></button>
                        </div>
                    </div>
                    <!-- Card Price -->
                    <div class="col-3 align-self-center">
                        <div
                            price-value="<%= cartObj.price %>"
                            class="cartPrice"
                        >
                            <p class="text-muted">
                                <b>Price: <%= cartObj.price %> &dollar; </b>
                            </p>
                        </div>

                        <% let keys = Object.keys(cartObj.variationValues) %>
                        <!-- Display product variation values -->
                        <% keys.forEach( (key, index) => { %>

                        <div class="text-muted mb-2">
                            <%= key.toUpperCase() %>: <%=
                            cartObj.variationValues[key] %>
                        </div>

                        <% }) %>
                        <div class="row">
                            <div class="col-8">
                                <a
                                    href="/<%= cartObj.productHref %>"
                                    type="button"
                                    class="btn btn-primary"
                                    >More info
                                    <i class="fa-solid fa-circle-info"></i
                                ></a>
                            </div>
                            <div class="col-4">
                                <div id="remove-btn">
                                    <button
                                        id="trash-button"
                                        onclick="deleteItem(this)"
                                        class="btn btn-primary"
                                    >
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <% }) %> 
          <% } %>
        </div>
        <!-- Summary part -->
        <div class="col-2 align-self-center border-left">
            <div class="text-center">
                <div class="text-muted">
                    <h5><b>Summary</b></h5>
                </div>
                <hr />
                <div class="text-muted">
                    <p><b>Your Cart Total:</b></p>
                </div>
                <br />
                <div class="bg-success rounded-circle">
                    <% if(cartObjects.length === 0 ) { %>
                    <p value="0" id="cart-total" class="text-light">
                        0 &dollar;
                    </p>
                    <% } else { %>
                    <p
                        value="<%= cartTotalPrice %>"
                        id="cart-total"
                        class="text-light"
                    >
                        <%= cartTotalPrice %> &dollar;
                    </p>
                    <% } %>
                </div>
                <br />

                <button class="btn btn-primary" onclick="makePayment()">
                    Buy Now!
                </button>
            </div>
        </div>
    </div>
</div>
